body {
    width: 768px;
    height: 1366px;
    font-family: 'Trebuchet MS';
    background-size: 768px 1366px;
}

.fb {
    margin-top:100px;
    background-image: url("fb.png");
    background-size: 150px 150px;
    display:block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid grey;
    float:left;
    margin-left:209px;
}

.instagram {
    margin-top:100px;
    background-image: url("instagram.png");
    background-size: 150px 150px;
    display:block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid grey;
    float:left;
    margin-left:50px;
}

h1 {

    text-align:center;
}

.input {
    text-align: center;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 300px;
    heigth: 30px;
    font-size: 20px;
    margin-left:234px;
}

.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Trebuchet MS;
    color: #ffffff;
    font-size: 22px;
    background: #686d70;
    width: 150px;
    margin-left:309px;
    margin-top:20px;
    font-weight:100;
    text-decoration: none;
}

.btn:hover {
    background: #818385;
    text-decoration: none;
}